.pic-bg {
	background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-thanksgiving-food-background-material-picture-image_929966.jpg");
	background-size: cover;
}

.dim {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10;
}
